.checkout {
  display: flex;
  justify-content: space-between;

  min-height: 589px;
  width: 700px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 20%);
}

.checkout__left {
  flex: 50;
  padding: 20px 40px 44px;
}

.checkout__right {
  flex: 37.5;
  background-color: $color-grey-light-1;
  padding: 24px 10px 15px 6px;
}

.checkout__breadcrumbs {
  display: flex;
}

.checkout__breadcrumbs-item {
  align-items: center;
  color: #979797;
  display: flex;
  font-size: 13px;
  font-weight: 200; 
}

.checkout__breadcrumbs-item--active {
  color: #5a1094;
}


.checkout__breadcrumbs-item:not(:last-child):after {
  content: "";
  border: solid #979797;
  border-width: 0 2px 2px 0;

  height: 20px;
  width: 20px;
  margin: 0px 25px 0px 14px;

  transform: rotate(-45deg);
  opacity: .3;
}


// Form

.checkout__form {
}

.checkout__form-name-form {
  margin: 20px 0;

  font-size: 26px;
  font-weight: 300;
  color: $color-primary;
}

.checkout__form-label {
  color: $color-primary;

  font-size: 16px;
  font-weight: 300;
  margin-bottom: 6px;
  margin-top: 15px;
}

.checkout__form-input-wrapper {
  position: relative;
}

.checkout__form-input {
    background-color: #fff;
    border: 1px solid #dedcdc;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    max-height: 42px;
    max-width: 320px;
    padding: 11px 15px;
    width: 100%;
    margin-bottom: 20px;
}

.checkout__form-phone{
  display: flex;
}

.checkout__form-phone-input{
  max-width: 180px;
}

.checkout__form-phone-label{
  color: #777879;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 7px;
}

.checkout__form-input-container{
  display: flex;
  margin-bottom: 10px;
}

.checkout__form-country-select{
  width: 180px;
}

.checkout__form-zip-input{
  margin-left: 20px;
  max-width: 120px;
}

.checkout__form-submit{
  background-color: rgba(90,16,148,.8);
  border: 1px solid rgba(67,28,93,.8);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  max-width: 180px;
  padding: 12px;
  width: 100%;
}

.validation-error{
  background-color: #fff;
  border: 1px solid rgba(222,220,220,.695907);
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  color: #d0021b;
  font-size: 13px;
  font-weight: 300;
  left: -12px;
  padding: 7px 12px;
  pointer-events: none;
  position: absolute;
  top: -35px;
  z-index: 10;
}

.validation-error:after{
  background-color: #fff;
  border-color: rgba(222,220,220,.695907) rgba(222,220,220,.695907) transparent transparent;
  border-style: solid;
  border-width: 1px;
  bottom: -9px;
  content: "";
  height: 16px;
  left: 20px;
  position: absolute;
  transform: rotate(135deg);
  width: 16px;
  z-index: -1;
}


.checkout__subtitle{
  align-items: center;
  color: #6b6b6b;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}

.checkout__subtitle-label{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 6px;
}


.checkout__container-payment{
  display: flex;
}

.checkout__container-payment>div:first-child{
  margin-right: 30px;
}


.checkout__form-input--mini{
  max-width: 95px;
}


.checkout__first-container{
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.checkout__sameas-button{
  background-color: transparent;
  border: 0;
  color: #5a1094;
  font-size: 12px;
  padding: 0;
  text-decoration: underline;
  width: auto;
}



.checkout__completed {
  margin-top: 25px;
  color: #2b2525;
  font-size: 16px;
}

.checkout__completed-title {
  color: #5a1094;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 24px;
}
.checkout__email-title {
  margin-top: 16px;
  margin-bottom: 31px;
}
.checkout__email-span {
  color: #5a1094;
}
.checkout__email-date {
  display: block;
  font-weight: 700;
}
.checkout__print {
  background-color: transparent;
  border: 0;
  color: #5a1094;
  font-size: 12px;
  margin-top: 33px;
  padding: 0;
  text-decoration: underline;
  width: auto;
}


.checkout__right-container-title {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
}

.checkout__right-container-title h2{
  color: #5a1094;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.checkout__right-container-title button{
  color: #979797;
  margin-top: 0;
}



.checkout__summary-items-list {
  margin-top: 15px;
}
.checkout__cart-item {
  border-bottom: 1px solid hsla(0,0%,59.2%,.2);
  display: flex;
  padding: 10px 7px;
}
.checkout__cart-img {
  height: 45px;
  margin-right: 10px;
  width: 45px;
}

.checkout__cart-img img{
  width: 100%;
}

.checkout__cart-desc {
  color: #2b2525;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: space-between;
}

.checkout__cart-desc-name {
  color: #777879;
  font-size: 12px;
  margin-bottom: 7px;
}
.checkout__cart-price {
  color: #777879;
  font-size: 12px;
  margin-left: auto;
}



.checkout__order-report {
  border-bottom: 1px solid hsla(0,0%,59.2%,.2);
  color: #777879;
  font-size: 12px;
  padding: 12px 7px;
}

.checkout__order-report li{
  display: flex;
  justify-content: space-between;
}

.checkout__order-report li:not(:last-child) {
  margin-bottom: 10px;
}

.checkout__order-total {
  color: #431c5d;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
  padding: 13px 7px;
}